main {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  margin-left: 117px;

  & .profil {
    width: 60%;
    margin: auto;
  }
}

.dashboard {
  display: flex;

  &_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_aside {
    display: block;
    flex-direction: column;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}
