main {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  margin-left: 117px;

  & .profil {
    width: 100%;
    margin: auto;
  }
}

.dashboard {
  display: flex;

  &_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_aside {
    display: block;
    flex-direction: column;
  }

  &_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

@include breakpoints(1200) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    & .profil {
      width: 100%;
      margin: auto;
    }
  }
  .dashboard {
    flex-wrap: wrap;
    &_aside {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
