main {
  display: block;
  flex-direction: column;
  padding-top: 159px;

  & .profil {
    width: 60%;
    margin: auto;
  }
}

.dashboard {
  &_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
  }
}
