.activity {
  box-sizing: border-box;
  width: 835px;
  height: 320px;
  padding: 25px 30px;
  border-radius: 5px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  font-size: 14px;

  &_title {
    position: absolute;
    font-family: Roboto;
    color: #20253a;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
  }

  & div:first-child {
    display: flex;
  }

  & .tooltip {
    display: block !important;
    padding: 4px 7px;
    background-color: $red;
    color: white;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
  }

  & .recharts-surface {
    margin-right: 12px !important;
    margin-left: 0 !important;
  }

  & .recharts-legend-item {
    margin-right: 0 !important;
    margin-left: 32px;
  }

  & .recharts-legend-item-text {
    color: #74798c !important;
    font-size: 14px;
    font-weight: 500;
  }
}
